body {
  margin: 0;
}

.images-container {
  margin-top: 20px;
  padding: 0;
}

.image {
  width: 75%;
  max-width: 50vh;
  height: auto;
  border-radius: 1vh;
}

.caption-container {
  padding: 5vh 0 5vh 0;
  display: inline-block;
  border-top: 1px solid var(--theme-color);
  border-bottom: 1px solid var(--theme-color);
}

.caption {
  font-size: 1.4em;
}

.inner-container {
  margin: 1vh auto auto auto;
  width: 80%;
}

.inner-container .btn {
  margin: 1.2vh;
  margin-top: 5vh;
}

#progess-bar {
  position: absolute;
  top: 0;
  width: 0%;
  height: 10px;
  background-color: var(--theme-color);
}

.answer {
  text-decoration: underline;
  font-size: 2em;
  font-weight: bold;
}

#description-container {
  position: relative;
  margin-top: 2vh;
  animation: swipe 0.5s;
}

#description-container * {
  margin-bottom: 5vh;
}

@keyframes swipe {
  0% {
    opacity: 0;
    bottom: -50px;
  }

  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@media only screen and (min-width: 700px) {
  /* Desktop */
  .description {
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 400px) {
  /* Mobile */
  .description {
    width: 75%;
    margin: auto;
  }
}
