.container h1 {
  color: var(--theme-color);
  margin: 5vh 0 5vh 0;
}

.creators * {
  font-size: 1.2em;
  letter-spacing: 2px;
  margin-bottom: 8vh;
}

.creators span {
  text-decoration: underline;
}
