.container h1 {
  color: var(--theme-color);
  margin: 5vh 0 5vh 0;
}

.container span {
  font-size: 1.2em;
  margin-top: 5vh;
}

hr {
  width: 75%;
}

.container .btn {
  position: relative;
  margin-top: 20%;
}
